WORDPRESS_GRAPHQL_URL=https://drsanjay-wp.studiosentientdemo.com/graphql

# Current setup: child Pages beneath a parent Page whose slug is "expertise".
WORDPRESS_EXPERTISE_GRAPHQL_COLLECTION=pages
WORDPRESS_EXPERTISE_GRAPHQL_SINGLE=page
WORDPRESS_EXPERTISE_PARENT_SLUG=expertise

# If you later register a WPGraphQL custom post type, its values may look like:
# WORDPRESS_EXPERTISE_GRAPHQL_COLLECTION=expertises
# WORDPRESS_EXPERTISE_GRAPHQL_SINGLE=expertise
